
	   body{
	   font-family: 'Teko', sans-serif;
	   background: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.65),
	   rgba(0,0,0,0.35),rgba(0,0,0,0)
	   ) ,url(Coffee.jpg)no-repeat;
	   background-size:cover;
	   
	   }
	  .box {
           width:600px;
           float:right;
		 
          }
          .box ul {
           height: 50px;
           padding: 5px 10px;
           }
	   .box ul li{
	    width:120px;
	    float:left;
	    text-align:center;
	    bottom:5px;
	    font-size: 25px;
	    padding: 0px;
	    margin: 0 10px;
	    border: 1px solid #ffffff1f;
	    border-radius: 5px;
	    }

	   .box ul li a{
	   text-decoration:none;
	   color: #ffffff54;
           letter-spacing: .6;
	   letter-spacing: 1px
	   text-align: center;
	   display: block;
	   }
	   
	   .box ul li:hover{
	   background-color:skyblue;
	   transition: .4s;
	   border-radius: 5px;
	   border: 1px solid #c60202;
	   box-shadow: 1px 1px 10px white;
	   
	   }
	   .box ul li:hover a{
	   color:black;
	   transition: .4s;
	   }
	   .wd{
	   background:#282A35;
	   width:450px;
	   
	   opacity:0.9;
	   padding:70px 0px 60px 0px;
	   }
	   .wd h1{
	   text-align:center;
	   text-transform:uppercase;
	   font-weight:100px;
	   color:white;
	   letter-spacing: 3px
	   }
	   
	   .wd h3{
	   text-align:center;
	   text-transform:uppercase;
	   font-weight:30px;
	   color:white;
	   letter-spacing: 2px;
	   font-family: 'Titillium Web', sans-serif;
	   }
	    .wd h4{
	   text-align:center;
	   text-transform:uppercase;
	   font-weight:30px;
	   color:white;
	   letter-spacing: 2px;
	   font-family: 'Titillium Web', sans-serif;
	   padding-top:30px;
	   margin:40px auto;
	   }
	   .coffeegoodsides{
	   letter-spacing:1px;
	   padding-left:25px;
	   padding-right:25px;
	   color:white;
	   font-family: 'Titillium Web', sans-serif;
	   
	   }

	  .abc{
	   background-color:skyblue;
	   color: #f80000;
	   display: block;
	   margin-top: 32px;
	   font-size: 20px;
	   padding:10px;
	   border-radius:15px;
	   border:none;
	   left:50px;
	   font-family: 'Teko', sans-serif;
	   width: 160px;
	   height: 45px;
	   margin: auto;
	   font-weight:700;
	   letter-spacing:1px;
	   text-transform: uppercase;
	   cursor: pointer;
	   }
	   .abc:hover{
		 background:white; 
         color:black;
         transition: .4s;
         box-shadow: .5px .5px 15px yellow;		 
		   
	   }
	   
